.navbar {
    background-color: #1F2937;
    display: flex;

}

.logo {
    font-family: 'Roboto', arial;
    font-size: 48px;
    color: white;
    padding: 12px;
}

.links {
    margin-left: auto;
    color: white;
    list-style-type: none;
    display: flex;
    gap:15px;
}

.links a {
    display:block;
    justify-content: flex-end;
    margin-right: 40px;

}

/* Hero */

.hero {
    background-color: #1F2937;
    font-family: "Roboto", "arial";
    color:white;
    display: flex;
    height: 400px; 

    justify-content: center;
    align-items: center;
}
.left-hero {
    width:450px;
    flex: 1;
    margin-left: 150px;
    
}

.image {
    margin-right: 250px;

}

button {
    background-color: #3882F6;
    font-size: 24px;
    color:white;
    border-radius: 8px;


}

/* Random inforamtion */

.randominformation {
    background-color: white;
    display:flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 30px;
}

.randominformation h1 {
    font-family: "Roboto", "arial";
    
}

.images {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.square {
    border: 2px solid red;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
.imagetext {
    
    width: 100px;

}

/* Quote */

.quote {
    background-color: #E5E7EB;
    padding: 50px;

}

.quote p {
    font-size: 36px;
    font-family:"Roboto", 'arial';
    font-style: italic;
    font-weight: lighter;

    text-align: center;
}

.author {
    display: block;
    text-align: right;
}

/* Call to action */


.bluerectangle {
    background-color: #3882F6;
    margin: 100px;
    width: auto;
    height: 200px;

    border-radius: 25px;

}

.text{
    display:flex;
    flex-direction: column;
    font-family: 'arial';
    font-size: 25px;
    
}

.bluerectangle p {
    text-align: center;
    color: white;

}


footer {
    background-color: #1F2937;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100px;
    
}