.navbar {
    background-color: #1F2937;
    display: flex;

}

.logo {
    font-family: 'Roboto', arial;
    font-size: 48px;
    color: white;
    padding: 12px;
}

.links {
    margin-left: auto;
    color: white;
    display: inline-block;
}

.links a {
    display:block;
    
}

